body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right top, #6bd1cc, #5bccd7, #55c5e0, #5abee7, #6ab5ea, #6ab8ef, #69bcf3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    background-size: 100%;
    background-repeat: no-repeat;
}
