@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#temple-zoom {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#temple-image {
    height: 500px;
    width: 100%;
    background: url('../images/grand-palace-1822487_960_720.jpg') no-repeat center center;
    background-size: cover;
    animation-duration: 5s;
    animation-name: temple-zoom;
    animation-fill-mode: forwards;
}

@keyframes temple-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}






















.form-section {
    background: url(../images/green-sign-up3681261_960_720.jpg);
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
    background-attachment: fixed;


}